<%- include('head') %>
<body>
    <div>
        <h3>Protected Page</h3>
        <p>You are logged in with a standard username and password.</p>
        <a href="/login-totp">Try Logging in with TOTP</a>
    </div>
</body>